##########################
# System definitions
##########################

FC=mpif90
FFLAGS:=-O3 -g -fPIC -fbounds-check -fcheck=mem -fallow-argument-mismatch

CC=mpicc
CFLAGS:=-O2 -g -fPIC 

LIBS=
INC=

MPI_FLAGS=-I/Users/zhaoze/local/openmpi-4.0.7/include -Wl,-flat_namespace -Wl,-commons,use_dylibs -I/Users/zhaoze/local/openmpi-4.0.7/lib -L/Users/zhaoze/local/openmpi-4.0.7/lib -lmpi_usempif08 -lmpi_usempi_ignore_tkr -lmpi_mpifh -lmpi


##########################
# PATH
##########################
DIRECTORY:=/Users/zhaoze/Documents/OversetDevFort
DEST:=/Users/zhaoze/Documents/OversetDevFort/bin

